<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <style type="text/css">
      body{
        background: url("/assets/151205.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%
        overflow: hidden;
        font-family: 'Bangers', cursive;
        font-size-adjust: auto;
        font-size: 20px;
      }

      h2{
        text-shadow: 2px 2px #272748;
        font-size: 60px;
        color: white;
        text-align: center;

      }

      p{
        font-size: 22px;
        text-align: center;
        /*line-height: 2;*/
        letter-spacing: 1px;
        color: white;
        text-shadow: 2px 2px #272748;


      }
      .button {
        border: none;
        color: #272748;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
/*        margin: 4px 2px;*/
        background-color: white;
        align: center;
        cursor: pointer;
        border-radius: 5px;
      }

    </style>
    <meta charset="utf-8">
  </head>
  <body>

    <h2>Welcome to Amusement Park</h2>
    <a href="employee"> <button class="button" style="float: right;">Employee Login</button></a>
    <p>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!--      To buy tickets, <a href="2.html"> click here </a></p>
    <p>For more information <a href="2.html"> click here </a></p>
    <p>For employee login<a href="2.html"> click here </a></p> -->
    </p>
    <p align="center">
    <a href="ticket"> <button class="button">Buy Tickets</button></a>
    <a href="parke"> <button class="button">Park Information</button></a>
    <a href="infor"> <button class="button">General Information</button></a>
    </p>
  </body>
</html>
