<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <style type="text/css">
      body {
        background: url("/assets/151205.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%
        overflow: hidden;
        font-family: 'Bangers', cursive;
        font-size-adjust: auto;
        font-size: 20px;
      }
      * {box-sizing: border-box}

      /* Overwrite default styles of hr */
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }
      .content {
        background: white;
        width: 50%;
        padding: 40px;
        margin: 100px auto;
      }

      h2{
        text-shadow: 1px 1px black;
        font-size: 60px;
        color: #272748;
        text-align: center;

      }
      h4{
        font-size: 22px;
        color: #272748;
        text-align: left;
      }


      p{
        font-size: 16px;
        text-align: left;
        /*line-height: 2;*/
        letter-spacing: 1px;
        color: black;
        font-family: Verdana, Geneva, sans-serif;


      }
      .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #272748;
        align: center;
        cursor: pointer;
        border-radius: 5px;
      }

    </style>
    <meta charset="utf-8">
  </head>
  <body>

    <div class="content">
      <h2>General Information</h2>
      <hr>
      <h4>Ticket Prices</h4>
      <p>Full Day Pass : <b>Rs 2600 for each park</b><br>
      Under of the age of 6 is Free

      </p>
      <h4>Opening Hours</h4>
      <p>
        During Weekdays : <b>10am - 6pm</b><br>
        During Weekends : <b>10am - 8pm</b><br>
      </p>

      <h4>Parking</h4>
      <p>Free parking is available and there is plenty of space for everyone.<br> Valet parking is also available with an additional fee.
      </p>
      <h4>Lockers</h4>
      <p>Convenient storage lockers are available at the park entrance.<br>

        Small: Rs200 per day<br>
        Large: Rs400 per day<br>
        Jumbo: Rs600 per day
      </p>
      <h4>Wheelchair and Stroller Hire</h4>
      <p>Wheelchairs are available for day hire. The wheelchairs are available on a first come first service basis, and must not pass the entry / exit turnstiles. A valid ID has to be provided to hire the wheelchairs. The ID will be returned to the guest once the wheelchair is returned and is damage free (or the same state as when it was leased).
      <br>
      <b>Strollers</b><br>
      Strollers are available to rent in single and double sizes.
      <br>Single: Rs 200
      <br>Double: Rs 300
      </p>

      <h4>First Aid</h4>
      <p>Should you require first aid, please make your way to Guest Relations where one of our team will be pleased to assist you.
      </p>
      <hr>
      <p align="center">
        <a href="/"> <button class="button">GO BACK</button></a>
      </p>
      </div>
  </body>
</html>
